body {
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.descripcion {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 50%;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.253);
    padding: 30px;
    margin-left: 400PX;
}

footer {
    width: 100%;
    height: 150px;
    background-color: rgba(73, 70, 70, 0.281);
    
}

.redes {
    text-align: center;
    
}

.iconos {
    margin: 30px 30px;
    display: inline-flex;
    align-items: center;
    
}